packs/fr-aventures/_source/*
packs/fr-compendiums-actor/_source/*
packs/fr-compendiums-item/_source/*
packs/fr-compendiums-item-crea/_source/*
packs/fr-compendiums-journalentry/_source/*
packs/fr-compendiums-rolltable/_source/*
packs/fr-compendiums-scene/_source/*
packs/fr-compendiums-sono/_source/*
packs/fr-macros/_source/*
